::ng-deep {

    .cdk-drag-preview {
        opacity: 1;
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }


    .p-autocomplete-option>span {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }


    .p-timeline-event-separator {
        top: 16px;
        position: relative;
    }

    .p-autocomplete-list {
        overflow: hidden;
        max-width: 410px;
    }


    .p-map-item-icon {
        color: var(--p-autocomplete-dropdown-color);
    }

    .p-map-item-link:hover .p-map-item-icon {
        color: #1e242c
    }

    .p-timeline-event-marker::before {
        background: transparent;
    }

    .map-config-button-reverse {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        cursor: pointer;
    }



    .p-listbox:not(.p-disabled) .p-listbox-option:not(.p-listbox-option-selected):not(.p-disabled):hover {
        background: transparent;
        color: var(--p-form-field-icon-color);
    }

    .p-listbox-option {
        border: none !important;
        border-bottom: 1px solid var(--p-content-border-color) !important;
        border-radius: 0;
        padding: 1.125rem;
        color: var(--p-form-field-icon-color);
    }

    .p-listbox:not(.p-disabled) .p-listbox-option:not(.p-listbox-option-selected):not(.p-disabled).p-focus {
        background: transparent;
        color: var(--p-form-field-icon-color);
    }

    .p-listbox:not(.p-disabled) .p-listbox-option.p-listbox-option-selected.p-focus {
        background: transparent;
        color: var(--p-primary-color);
    }

    .p-listbox .p-listbox-list .p-listbox-option.p-listbox-option-selected {
        background: transparent;
        color: var(--p-primary-color);
    }
}


.directions-profile {
    background: #fff;
    margin: 7px 0 0;
    padding: 2px;
    border-radius: 15px;
    vertical-align: middle;
}

.directions-profile label {
    cursor: pointer;
    display: block;
    border-radius: 16px;
    padding: 3px 5px;
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    line-height: 20px;
    text-align: center;
    width: 25%;
    float: left;
}

/* Routes */
.directions-routes ul {
    list-style: none;
    margin: 0;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.directions-routes li {
    font-size: 12px;
    padding: 10px 10px 10px 80px;
    display: block;
    position: relative;
    cursor: pointer;
    color: rgba(255, 255, 255, .5);
    min-height: 60px;
}

.directions-routes li:hover,
.directions-routes .directions-route-active {
    color: white;
}

.directions-route-heading {
    position: absolute;
    left: 10px;
    top: 10px;
}

/* Route Summary */
.directions-route-summary {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    line-height: 28px;
}

.directions-route-summary h1 {
    font-weight: 500;
    margin: 0;
    display: inline;
    font-size: inherit;
    line-height: inherit;
}

.directions-route-summary span {
    color: rgba(255, 255, 255, 0.5);
    margin: 0 5px;
}

/* Alt route selection */
.directions-instructions {
    overflow: scroll;
}

.directions-instructions-wrapper {
    max-height: 78vh;
}

.directions-routes {
    margin-left: 5px;
    font-size: 12px;
    float: right;
}

.directions-routes input[type=radio]+label:hover,
.directions-routes input[type=radio]:checked+label {
    background-color: rgba(255, 255, 255, 0.25);
}

/* Instructions */
.directions-instructions .directions-icon {
    position: absolute;
    left: 12px;
    top: 20px;
    margin: auto;
}

.directions-instructions .directions-icon:before {
    vertical-align: top;
}

.directions-error {
    padding: 20px;
    font-size: 20px;
    line-height: 25px;
}

.directions-step-distance {
    color: var(--text-color);
    position: absolute;
    padding: 5px 10px;
    font-size: 12px;
    left: 30px;
    bottom: -10px;
}

.directions-steps {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.directions-step {
    position: relative;
    color: var(--text-color);
    cursor: pointer;
    padding: 20px 20px 20px 40px;
}

.directions-step * {
    pointer-events: none;
}

.directions-step:hover {
    color: var(--p-button-link-color);
}

.directions-step:after {
    content: '';
    position: absolute;
    top: 45px;
    bottom: -10px;
    border-left: 2px dotted var(--text-color);
    left: 20px;
}

.directions-step:last-child:after,
.directions-step:last-child .directions-step-distance {
    display: none;
}

.marker-drag-icon {
    display: block;
    background-color: #444;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.marker-drag-icon-step {
    background-color: #3BB2D0;
}

.directions-clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

@media only screen and (max-width:640px) {
    .directions-control.directions-control {
        width: 100%;
        max-width: 100%;
    }

    .directions-control.directions-control-inputs {
        top: 0;
        left: 0;
    }

    .directions-profile {
        margin: 10px;
    }

    .directions-routes {
        float: right;
        margin-right: 10px;
    }

    .directions-control.directions-control-directions {
        top: auto;
        max-height: 40%;
    }

    .directions-multiple {
        min-height: 50px;
    }

}

/* icons */
.directions-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.directions-icon-arrive {
    background-image: url('./../../../../../assets/images/arrive.svg');
}

.directions-icon-slight-left {
    background-image: url('./../../../../../assets/images/slight-left.svg');
}


.directions-icon-slight-right {
    background-image: url('./../../../../../assets/images/slight-right.svg');
}


.directions-icon-straight {
    background-image: url('./../../../../../assets/images/straight.svg');
}


.directions-icon-depart {
    background-image: url('./../../../../../assets/images/depart.svg');
}


.directions-icon-roundabout {
    background-image: url('./../../../../../assets/images/roundabout.svg');
}


.directions-icon-error {
    background-image: url('./../../../../../assets/images/error.svg');
}

.directions-icon-reverse {
    background-image: url('./../../../../../assets/images/reverse.svg');
}

.directions-icon-sharp-left {
    background-image: url('./../../../../../assets/images/sharp-left.svg');
}

.directions-icon-sharp-right {
    background-image: url('./../../../../../assets/images/sharp-right.svg');
}

.directions-icon-left {
    background-image: url('./../../../../../assets/images/left.svg');
}

.directions-icon-right {
    background-image: url('./../../../../../assets/images/right.svg');
}

.directions-icon-u-turn {
    background-image: url('./../../../../../assets/images/u-turn.svg');
}

.directions-icon-waypoint {
    background-image: url('./../../../../../assets/images/waypoint.svg');
}

.directions-instructions {
    overflow: scroll;
}

.directions-instructions-wrapper {
    max-height: 78vh;
}